body,html {
            background-color: rgb(233, 236, 17);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 5%;
            margin-top: 5%;
            margin-right: 5%;
            margin-bottom: 10%; 
            
        }        
        #hafeez_recipe {      
            text-align: center;
            margin-top: 10px;
            background-color: rgba(194, 184, 184, 0.979);
            font-size: 3em;
            
        }
        .fig {
            font-size: .8rem;
        }
        #buffalo_sausage {
            text-align: center;
            background-color: rgba(194, 184, 184, 0.979);
        }
        #sausage_bread {
            text-align: center;
            background-color: rgba(194, 184, 184, 0.979);
        }
        #calzone {
            text-align: center;
            background-color: rgba(194, 184, 184, 0.979);
        }
        img {
            border: 10px solid rgb(238, 201, 38);
            border-radius: 10%;
            width: 1000;            
        }
        .images {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;            
        }
        figcaption {
            text-align: center;
        }
        nav {
            text-align: center;            
        }
        nav ul {
            list-style-type: none;
        }
        .one {
            border: 30px solid beige;
            border-radius: 10%;
            margin-bottom: 3%;
            background-color: beige;
        }
        .two {
            border: 30px solid beige;
            border-radius: 10%;
            margin-bottom: 3%;
            background-color: beige;
        }
        .three {
            border: 30px solid beige;
            border-radius: 10%;
            margin-bottom: 3%;
            background-color: beige;
        }
        
        nav ul li {
            float: center;
            background-color: beige;
            cursor: pointer;                        
        }
        .ingredients, .steps {
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;
            width: 47%;
        }
        a:hover {
            background-color: #e6e6e6;
        }
        a:active {
            background-color: blue;            
        }
        a:visited {
            background-color: red;
        }
        #main-nav {           
            align-content: center; /* justify-content: can also be used */
            margin-bottom: 20px;
        }
        .navLinks {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: .2em;
            padding-bottom: .4em;            
            border: .25em solid #35fd35;
            font-size: .8em;
            border-radius: 60px;
            margin-left: 20px;
        }
        .A {
            display: flex;
        }
        .main {
            display: flex; /* dabbling on the use of flexbox in various scenerios */
        }